.header {
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--primary);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    background: var(--primary);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.header__content.open {
    max-height: 500px;
    opacity: 1;
}

.title {
    display: flex;
    align-items: center;
    justify-items: center;
}

.title h1 {
    font-size: 2rem;
}

.nav {
    text-align: center;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 10px;
}

.nav__item {
    font-size: 1.4rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    margin: 20px 0;
}

.icon {
    border: none;
    fill: var(--light);
    background: var(--primary);
    width: 25px;
    height: 25px;
}

@media (min-width: 768px) {
    .header {
        padding: 10px 20px;
    }

    .header__content {
        position: static;
        flex-direction: row;
        align-items: center;
        max-height: none;
        background: none;
        overflow: visible;
        transition: none;
        display: flex !important;
    }

    .title h1 {
        font-size: 1.7rem;
    }

    .nav__item {
        font-size: 1.2rem;
    }

    .nav {
        flex-direction: row;
        gap: 30px;
        text-align: left;
    }

    .header > .icon {
        display: none;
    }

    .icons {
        margin: 0 0 0 30px;
        gap: 20px;
    }

    .link {
        position: relative;
        overflow: hidden;
        display: inline-block;
        height: 1.4em;
    }

    .link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--light);
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        transition: all 1s;
    }

    .link:hover::after{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
