.header {
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--primary);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    background: var(--primary);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.header__content.open {
    max-height: 500px;
    opacity: 1;
}

.title {
    display: flex;
    align-items: center;
    justify-items: center;
}

.title h1 {
    font-size: 2rem;
}

.nav {
    text-align: center;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 10px;
}

.nav__item {
    font-size: 1.4rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    margin: 20px 0;
}

.icon {
    border: none;
    fill: var(--light);
    background: var(--primary);
    width: 25px;
    height: 25px;
}
