.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    cursor: pointer;
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px;
}

.whatsapp svg {
    width: 100%;
    height: 100%;
    color: var(--white);
}
