# Configuración de contacto
WHATSAPP__NUMBER=5491100000000
INSTAGRAM__PAGE=https://www.instagram.com/tu_usuario/

# Configuración del sitio
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Google Ads y Analytics
NEXT_PUBLIC_GA_ADS_ID=AW-XXXXXXXXX
NEXT_PUBLIC_CONVERSION_LABEL=AbCdEfGhIjKlMnOpQrSt