.categories {
    background: linear-gradient(135deg, #fff5eb 0%, #ffffff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 20px;
}

.categories__title {
    text-align: center;
    font-size: 2rem;
    color: var(--secondary);
}

.categories__list {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.categories__item {
    border: none;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.3s ease;
}

.categories__item:hover {
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
}

@media (min-width: 768px) {
    .categories__list {
        justify-content: center;
    }
}
