:root {
  --primary: #374151;
  --secondary: #B91C1C;
  --accent: #D97706;
  --success: #10B981;

  --white: #FFFFFF;
  --light: #F8F8F8;
  --grey: #6B7280;
  --dark: #1F2937;
  --black: #111827;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}