.start{
    
}

.start__title{

}

.start__subtitle{

}

.start__div{

}

.start__button{

}

.categories{

}

.categories__title{

}

.categories__list{

}

.categories__item{

}

.products{

}

.products__title{

}

.products__list{

}

.products__item{

}

.why{

}

.why__title{

}

.why__list{

}

.why__item{

}