.why {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--white);
}

.why__title {
    text-align: center;
    font-size: 2rem;
    color: var(--dark);
}

.why__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 4rem;
}

.why__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.why__item svg {
    width: 50px;
    height: 50px;
    color: var(--primary);
}

.why__item h3 {
    font-size: 1.2rem;
    color: var(--dark);
}

.why__item p {
    font-size: 1rem;
    color: var(--dark);
}

@media (min-width: 768px) {
    .why__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .why__item {
        width: 200px;
    }
}
