.products {
    background: var(--light);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.products__title {
    text-align: center;
    font-size: 2rem;
    color: var(--dark);
}

.products__list {
    width: 90%;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .products {
        padding: 40px;
    }
}
