.footer {
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 40px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: var(--light);
    text-decoration: none;
}

@media (min-width: 768px) {
    .footer {
        font-size: .9rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
