.card {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.card li {
    display: flex;
    flex-direction: column;
    flex: 1;
    list-style: none;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.card img {
    max-height: 50%;
    max-width: 90%;
    margin: auto;
    border-radius: 10px;
}

.card h4 {
    padding: 0 10px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--dark);
}

.card button {
    border: none;
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
    transition: background 0.3s ease;
}

.card:hover button {
    background: var(--accent);
}

@media (min-width: 768px) {
    .card {
        width: 250px;
        height: 250px;
    }

    .card img {
        width: auto;
        max-width: 90%;
        max-height: 50%;
        margin: auto;
        object-fit: cover;
    }

    .card h4 {
        font-size: 1rem;
    }
}
