.section {
    padding: 20px;
    background: #e9e9e9;
}

.section__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.section > div {
    padding: 0 10%;
    margin: auto;
}
