.start {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.startImage {
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.startOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

.start > h2,
.start > h3,
.start__div {
    position: relative;
    z-index: 2;
}

.start__title {
    text-align: center;
    font-size: 2rem;
    color: #000000;
}

.start__subtitle {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}

.start__div {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.start__div a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.start__button {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: 700;
    font-size: 1.2rem;
    font-weight: 700;
    width: 250px;
    display: block;
    text-align: center;
}

.start__div a:nth-of-type(1) button {
    background: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-in-out;
}

.start__div a:nth-of-type(1) button:hover {
    background: var(--primary-dark);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 25px rgba(255, 121, 0, 0.3);
}

.start__div a:nth-of-type(2) button {
    background: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-in-out;
}

.start__div a:nth-of-type(2) button:hover {
    background: var(--primary);
    color: var(--white);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 25px rgba(255, 121, 0, 0.3);
}

.start__button:hover {
    background: var(--accent) !important;
    color: var(--white) !important;
    border: 1px solid !important;
    border: 1px solid var(--accent) !important;
}

@media (min-width: 768px) {
    .start__title {
        font-size: 3rem;
    }

    .start__subtitle {
        font-size: 2rem;
    }

    .start__div {
        flex-direction: row;
    }
}
