.skeleton {
    background: linear-gradient(
        90deg,
        var(--light-grey) 25%,
        #f0f0f0 50%,
        var(--light-grey) 75%
    );
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 10px;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.skeletonCard {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    padding: 20px;
}

.skeletonImage {
    width: 80%;
    height: 120px;
    border-radius: 10px;
}

.skeletonTitle {
    width: 70%;
    height: 24px;
    border-radius: 5px;
}

.skeletonButton {
    width: 100%;
    height: 45px;
    border-radius: 0 0 10px 10px;
    margin-top: auto;
}

.skeletonGrid {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

@media (min-width: 768px) {
    .skeletonCard {
        width: 250px;
        height: 250px;
    }
}
