.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.item {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.item:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.question {
    width: 100%;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: left;
    font-weight: 1rem;
}

.icon {
    font-size: 0.9rem;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0 1rem;
    font-size: 0.9rem;
}

.open {
    max-height: 500px; /* suficiente para mostrar texto largo */
    padding-bottom: 1rem;
}

.answer p {
    margin: 0.5rem 0 0;
    color: var(--dark);
    line-height: 1.5;
}
